*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url("img\72884357855.jpg");
    /* background-image: url("https://img.freepik.com/premium-vector/interbank-currency-exchange_387612-259.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    color: white;
}

.form-control{
    margin: 10px 0px;
    border: 1px solid black;
}

.form-group a{
    box-shadow: 0px 3px 6px black;
}

.form-group button{
    box-shadow: 0px 3px 6px black;
}