<body class="d-flex align-items-center justify-content-center">
    <div class="card col-4 bg-transparent">
        <div class="card-body">
            <h1 class="form-header card-title mb-3">
                <i class="fa fa-credit-card"></i> Transfer
            </h1>
            <div class="form reg-form">
                <div class="form-group mb-2">
                    <label for="">Account name</label>
                    <select name="accountId" class="form-control">
                        <option value="">-- select account --</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="">Enter receiver account number</label>
                    <input type="text" name="amount" class="form-control" placeholder="Enter receiver account number">
                </div>
                <div class="form-group mb-2">
                    <label for="">Amount</label>
                    <input type="number" name="amount" class="form-control" placeholder="Enter amount">
                </div>
                <div class="form-group d-flex justify-content-center my-2">
                    <button class="btn btn-warning" id="transferMoney">
                        <i class="fa fa-credit-card me-1"></i>Transfer
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>