<body class="d-flex align-items-center justify-content-center">
    <div class="card col-4 bg-transparent">
        <div class="card-body">
            <h1 class="form-header card-title mb-3">
                <i class="fa fa-wallet"></i> Deposit
            </h1>
            <div class="form reg-form">
                <div class="form-group mb-2">
                    <label for="">Account name</label>
                    <select name="accountId" class="form-control">
                        <option value="">-- select account --</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="">Amount</label>
                    <input type="number" name="amount" class="form-control" placeholder="Enter amount">
                </div>
                <div class="form-group d-flex mb-2 justify-content-center">
                    <button class="btn btn-success" id="depositMoney">
                        <i class="fa fa-wallet me-1"></i>Deposit
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>