*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(211, 217, 226);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-page-header{
    padding: 10px 0px;
}

.bank-name{
    font-weight: 600;
    color: white;
}

.navigation{
    /* border: 1px solid white; */
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 15px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

.container a{
    margin: 0px 10px;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.offcanvas{
    background-image: url("img\72884357855.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.offcanvas button{
    color: white;
}

.deposit-card{
    display: none;
}

.withdraw-card{
    display: none;
}

/* .transfer-card{
    display: none;
} */