<body class="d-flex align-items-center">
    <div class="card bg-transparent border-0 col-6">
        <div class="card-body">
            <h1>Aurionpro Bank</h1>
            <h5 class="card-title">Easy way of Banking</h5>
            <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Provident tempora eveniet, ratione ipsum eos aliquid, 
                commodi ipsa magnam odit, impedit quos libero? Recusandae adipisci 
                nesciunt non qui reprehenderit ducimus sunt.
            </p>
            <div class="button-wrapper">
                <a routerLink="/home/register" class="btn btn-danger register">
                    <i class="fa fa-user-plus"></i> Register
                </a>
                <a routerLink="/home/login" class="btn btn-warning login">
                    <i class="fa fa-sign-in"></i> Login
                </a>
            </div>
        </div>
    </div>
</body>
